<h1>Password Changed Successfully</h1>
<p>Please Back to 
    {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'admin-dashboard' %}" class="flex items-center px-4 py-2.5 text-sm text-gray-700 hover:bg-orange-50 hover:text-orange-600 transition">
             Admin Dashboard
        </a>
    {% elif user.groups.all.0.name == 'Organizer' %}
        <a href="{% url 'organizer-dashboard' %}" class="flex items-center px-4 py-2.5 text-sm text-gray-700 hover:bg-orange-50 hover:text-orange-600 transition">
              Organizer Dashboard
        </a>
    {% else %}
        <a href="{% url 'participant-dashboard' %}" class="flex items-center px-4 py-2.5 text-sm text-gray-700 hover:bg-orange-50 hover:text-orange-600 transition">
             My RSVPs
        </a>
    {% endif %}
</p>