{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> {% block title %} {% endblock title %} 
    </title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-orange-50 font-sans">

<!-- Navigation -->
<nav class="bg-orange-800 text-white md:p-4">
  <div class=" flex mx-auto justify-between px-10 items-center">
    <a href="#" class="font-bold text-xl">Event Management</a>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-2 md:gap-6">
      <a href="{% url 'event-list' %}" class="font-bold hover:text-gray-300">Events</a>
      <a href="{% url 'participants' %}" class="font-bold hover:text-gray-300">Participants</a>
      <a href="{% url 'categories' %}" class="font-bold hover:text-gray-300">Categories</a>
      <a href="{% url 'organizer-dashboard' %}" class="font-bold hover:text-gray-300">Dashboard</a>
    </div>
  </div>
</nav>

{% block eventlist%}
 
{% endblock eventlist %}
</body>
</html>