{% extends 'base.html' %}
{% block content%}

    <!-- Stats Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mx-auto mb-6 mt-5 px-4">
    <a href="{% url 'organizer-dashboard' %}?filter=participants" class="bg-orange-200 p-5 rounded shadow text-center hover:bg-orange-500">
        <h2 class="text-xl font-bold">{{ total_participants }}</h2>
        <p>Total Participants</p>
    </a>

    <a href="{% url 'organizer-dashboard' %}?filter=total" class="bg-orange-200 p-5 rounded shadow text-center hover:bg-orange-500">
        <h2 class="text-xl font-bold">{{ total_events }}</h2>
        <p>Total Events</p>
    </a>

    <a href="{% url 'organizer-dashboard' %}?filter=upcoming" class="bg-orange-200 p-5 rounded shadow text-center hover:bg-orange-500">
        <h2 class="text-xl font-bold">{{ upcoming_events_count }}</h2>
        <p>Upcoming Events</p>
    </a>

    <a href="{% url 'organizer-dashboard' %}?filter=past" class="bg-orange-200 p-5 rounded shadow text-center hover:bg-orange-500">
        <h2 class="text-xl font-bold">{{ past_events_count }}</h2>
        <p>Past Events</p>
    </a>
</div>

    <!-- Event Listing -->
    <div class="bg-white p-4 rounded shadow">
        <h3 class="text-lg font-bold mb-4">
            {% if filter_type == 'upcoming' %}
            Upcoming Events
            {% elif filter_type == 'past' %}
            Past Events
            {% elif filter_type == 'total' %}
            Total Events
            {% else %}
            Today's Events
            {% endif %}
        </h3>
        <ul>
            {% for event in events %}
                <div class="border p-4 mb-4 rounded bg-white shadow-sm flex justify-between items-center">
                    <div>
                        <h3 class="font-bold text-lg">{{ event.name }}</h3>
                        <p class="text-sm text-gray-500">{{ event.date }} at {{ event.time }}</p>
                    </div>
    
                    <div class="flex space-x-2">
                        <a href="{% url 'update-event' event.id %}" 
                           class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">
                           Edit
                        </a>

                        <form action="{% url 'delete-event' event.id %}" method="POST" onsubmit="return confirm('Delete this event?');">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
           {% endfor %}
        </ul>
    </div>
 
{% endblock content %}



